### **Exercise #04: Production Decision and Cost Analysis**  

A firm's **production and cost schedule** is provided in the following table:

| **Quantity of Output** | **Total Cost ($)** |
|------------------|----------------|
| 0  | 2,000 |
| 1  | 2,380 |
| 2  | 2,720 |
| 3  | 3,025 |
| 4  | 3,300 |
| 5  | 3,550 |
| 6  | 3,780 |
| 7  | 3,995 |
| 8  | 4,200 |
| 9  | 4,400 |
| 10 | 4,605 |
| 11 | 4,820 |
| 12 | 5,050 |
| 13 | 5,300 |
| 14 | 5,575 |
| 15 | 5,880 |
| 16 | 6,220 |
| 17 | 6,600 |
| 18 | 7,025 |
| 19 | 7,500 |
| 20 | 8,030 |
| 21 | 8,620 |
| 22 | 9,275 |
| 23 | 10,000 |
| 24 | 10,800 |

---

## **Questions to Analyze:**
### **Case 1: Price = $500 per unit**
1. **What amount should this firm produce if the price of a product is $500 per unit?**
2. **What is the total profit (or loss)?**
3. **Will it be worthwhile for this firm to produce at this point in the short-run?**
4. **Will this firm continue to produce at this point in the long-run?**

### **Case 2: Price = $300 per unit**
5. **What amount should this firm produce if the price of a product is $300 per unit?**
6. **What is the total profit (or loss)?**
7. **Will it be worthwhile for this firm to produce at this point in the short-run?**
8. **Will this firm continue to produce at this point in the long-run?**

### **Break-Even Point Analysis**
9. **What level of output represents the break-even point for this firm?**
10. **What is the total profit (or loss) at this point?**
11. **Will it be worthwhile for this firm to produce at this point in the short-run?**
12. **Will this firm continue to produce at this point in the long-run?**

### **Shut-Down Point Analysis**
13. **What level of output represents the shut-down point for this firm?**
14. **What is the total profit (or loss) at this point?**
15. **Will it be worthwhile for this firm to produce at this point in the short-run?**
16. **Will this firm continue to produce at this point in the long-run?**

---

## **Definitions of Key Cost and Revenue Metrics**
To analyze the firm's production decisions, we define key economic terms:

1. **Price (P):** The selling price per unit of the product.
2. **Total Revenue (TR):**  
   - The total income from selling products.  
   - **Formula:**  
     $$
     TR = P \times q
     $$

3. **Total Cost (TC):**  
   - The total expense incurred in production.  
   - **Given in the table.**

4. **Average Total Cost (ATC):**  
   - The cost per unit of output.  
   - **Formula:**  
     $$
     ATC = \frac{TC}{q}
     $$

5. **Average Variable Cost (AVC):**  
   - The cost per unit excluding fixed costs.  
   - **Formula:**  
     $$
     AVC = \frac{VC}{q}
     $$  
   - **Variable Cost (VC) is obtained from TC after subtracting Fixed Cost (FC).**

6. **Marginal Cost (MC):**  
   - The additional cost of producing one more unit.  
   - **Formula:**  
     $$
     MC = \frac{\Delta TC}{\Delta q}
     $$

---

In [2]:
import pandas as pd
import numpy as np

# Given Quantity of Output and Total Cost (TC) Data
data = {
    "Quantity": [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24],
    "Total Cost": [2000, 2380, 2720, 3025, 3300, 3550, 3780, 3995, 4200, 4400, 4605, 4820, 5050, 5300, 5575, 5880, 6220, 6600, 7025, 7500, 8030, 8620, 9275, 10000, 10800]
}

# Convert to DataFrame
df = pd.DataFrame(data)

# Compute Fixed Cost (FC) as TC at Q=0
fixed_cost = df["Total Cost"].iloc[0]

# Compute ATC and AVC
df["ATC"] = df["Total Cost"] / df["Quantity"].replace(0, np.nan)  # Avoid division by zero
df["AVC"] = (df["Total Cost"] - fixed_cost) / df["Quantity"].replace(0, np.nan)  # Avoid division by zero

# Compute Marginal Cost (MC) as change in TC
df["MC"] = df["Total Cost"].diff().fillna(0)

# Display the results
import ace_tools as tools
tools.display_dataframe_to_user(name="ATC, AVC, and MC Calculation", dataframe=df)

ModuleNotFoundError: No module named 'pandas'



## **(a) Optimal Production and Profit Calculation at P = $500/unit**  

### **Step 1: Decision Criteria**
- The firm produces where **Price (P) = Marginal Cost (MC)**.
- The firm stays in the **long run if P > ATC**.
- The firm operates in the **short run if P ≥ AVC**.

### **Step 2: Find the Optimal Output Level**
From the cost table, when **P = $500**, we compare it with **Marginal Cost (MC)**:

- At **19 units**, MC = $395 → **P > MC**, so continue producing.
- At **20 units**, MC = $500 → **P = MC**, optimal stopping point.
- At **21 units**, MC = $620 → **P < MC**, stop production.

Thus, the firm **should produce 19 units**.

### **Step 3: Calculate Profit**
- **Total Revenue (TR):**  
  $$ TR = P \times q = 500 \times 19 = 9500 $$  
- **Total Cost (TC):**  
  $$ TC = 7500 $$  
- **Profit:**  
  $$ \pi = TR - TC = 9500 - 7500 = 2000 $$  

### **Step 4: Short-Run vs. Long-Run Decision**
- **Short-Run:** **P > AVC**, so **continue producing**.
- **Long-Run:** **P > ATC**, so **stay in the market**.

✅ **Conclusion**: **Produce 19 units**, earning a **profit of $2000**.

---

## **(b) Optimal Production and Profit Calculation at P = $300/unit**  

### **Step 1: Find the Optimal Output Level**
- At **14 units**, MC = $275 → **P > MC**, so continue producing.
- At **15 units**, MC = $305 → **P < MC**, stop production.

Thus, the firm **should produce 14 units**.

### **Step 2: Calculate Profit**
- **Total Revenue (TR):**  
  $$ TR = P \times q = 300 \times 14 = 4200 $$  
- **Total Cost (TC):**  
  $$ TC = 5575 $$  
- **Profit:**  
  $$ \pi = TR - TC = 4200 - 5575 = -1375 $$  

### **Step 3: Short-Run vs. Long-Run Decision**
- **Short-Run:** **P > AVC**, so **continue producing**.
- **Long-Run:** **P < ATC**, so **exit the market**.

❌ **Conclusion**: **Produce 14 units**, incurring a **loss of $1375**. **Continue in the short run but exit in the long run**.

---

## **(c) Break-Even Point Analysis**  

### **Step 1: Definition**
- The **break-even point** is where **Total Revenue = Total Cost**, meaning **profit = 0**.
- This happens when **Price = ATC**.

### **Step 2: Find Break-Even Output**
From the table, **ATC = MC** at **17 units**.  
The corresponding **price at break-even** is **$388/unit**.

### **Step 3: Profit Calculation**
- **Total Revenue (TR):**  
  $$ TR = P \times q = 388 \times 17 = 6596 $$  
- **Total Cost (TC):**  
  $$ TC = 6600 $$  
- **Profit:**  
  $$ \pi = 6596 - 6600 = -4 \approx 0 $$  

✅ **Conclusion**: **Break-even output is 17 units**, with **zero profit**. The firm **can continue producing in both the short-run and long-run**.

---

## **(d) Shut-Down Point Analysis**  

### **Step 1: Definition**
- The **shut-down point** is where **P < AVC**, meaning the firm **cannot cover variable costs**.

### **Step 2: Find Shut-Down Output**
- From the table, **MC = AVC** at **13 units**.
- The corresponding **shut-down price is $254/unit**.

### **Step 3: Profit Calculation**
- **Total Revenue (TR):**  
  $$ TR = P \times q = 254 \times 13 = 3302 $$  
- **Total Cost (TC):**  
  $$ TC = 5300 $$  
- **Profit:**  
  $$ \pi = 3302 - 5300 = -1998 $$  

### **Step 4: Short-Run vs. Long-Run Decision**
- **Short-Run:** Since **P = AVC**, the firm **can continue**.
- **Long-Run:** Since **P < ATC**, the firm **will exit**.

❌ **Conclusion**: **Shut-down output is 13 units**, with a **loss of $1998**. The firm **can continue in the short-run but should exit in the long-run**.

---

## **Final Summary**
| **Scenario** | **Optimal Output** | **Total Profit (Loss)** | **Short-Run Decision** | **Long-Run Decision** |
|------------|----------------|------------------|-------------------|-------------------|
| **P = $500** | 19 units | **$2000 profit** | **Continue** ✅ | **Stay in market** ✅ |
| **P = $300** | 14 units | **$1375 loss** | **Continue** ✅ | **Exit market** ❌ |
| **Break-Even** | 17 units | **$0 (Normal Profit)** | **Continue** ✅ | **Stay in market** ✅ |
| **Shut-Down** | 13 units | **$1998 loss** | **Continue** ✅ | **Exit market** ❌ |

---

## **Key Takeaways**
1. **At $500/unit, the firm should produce 19 units** to earn a **profit of $2000**.
2. **At $300/unit, the firm should produce 14 units**, but it will **make a loss of $1375**.
3. **The break-even point is at 17 units, where total profit = $0**.
4. **The shut-down point is at 13 units, where P = AVC**, and the firm should **exit in the long run**.

In [3]:
import pandas as pd
import numpy as np

# Given Quantity of Output and Total Cost (TC) Data
data = {
    "Quantity": [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24],
    "Total Cost": [2000, 2380, 2720, 3025, 3300, 3550, 3780, 3995, 4200, 4400, 4605, 4820, 5050, 5300, 5575, 5880, 6220, 6600, 7025, 7500, 8030, 8620, 9275, 10000, 10800]
}

# Convert to DataFrame
df = pd.DataFrame(data)

# Compute Fixed Cost (FC) as TC at Q=0
fixed_cost = df["Total Cost"].iloc[0]

# Compute ATC and AVC
df["ATC"] = df["Total Cost"] / df["Quantity"].replace(0, np.nan)  # Avoid division by zero
df["AVC"] = (df["Total Cost"] - fixed_cost) / df["Quantity"].replace(0, np.nan)  # Avoid division by zero

# Compute Marginal Cost (MC) as change in TC
df["MC"] = df["Total Cost"].diff().fillna(0)

# Display the results
df

    Quantity  Total Cost          ATC         AVC     MC
0          0        2000          NaN         NaN    0.0
1          1        2380  2380.000000  380.000000  380.0
2          2        2720  1360.000000  360.000000  340.0
3          3        3025  1008.333333  341.666667  305.0
4          4        3300   825.000000  325.000000  275.0
5          5        3550   710.000000  310.000000  250.0
6          6        3780   630.000000  296.666667  230.0
7          7        3995   570.714286  285.000000  215.0
8          8        4200   525.000000  275.000000  205.0
9          9        4400   488.888889  266.666667  200.0
10        10        4605   460.500000  260.500000  205.0
11        11        4820   438.181818  256.363636  215.0
12        12        5050   420.833333  254.166667  230.0
13        13        5300   407.692308  253.846154  250.0
14        14        5575   398.214286  255.357143  275.0
15        15        5880   392.000000  258.666667  305.0
16        16        6220   388.750000  263.750000  340.0
17        17        6600   388.235294  270.588235  380.0
18        18        7025   390.277778  279.166667  425.0
19        19        7500   394.736842  289.473684  475.0
20        20        8030   401.500000  301.500000  530.0
21        21        8620   410.476190  315.238095  590.0
22        22        9275   421.590909  330.681818  655.0
23        23       10000   434.782609  347.826087  725.0
24        24       10800   450.000000  366.666667  800.0

In [5]:
import pandas as pd
import numpy as np

# Given Quantity of Output and Total Cost (TC) Data
data = {
    "Quantity": [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24],
    "Total Cost": [2000, 2380, 2720, 3025, 3300, 3550, 3780, 3995, 4200, 4400, 4605, 4820, 5050, 5300, 5575, 5880, 6220, 6600, 7025, 7500, 8030, 8620, 9275, 10000, 10800]
}

# Convert to DataFrame
df = pd.DataFrame(data)

# Compute Fixed Cost (FC) as TC at Q=0
fixed_cost = df["Total Cost"].iloc[0]

# Compute ATC and AVC
df["ATC"] = (df["Total Cost"] / df["Quantity"].replace(0, np.nan)).round(0)  # Avoid division by zero
df["AVC"] = ((df["Total Cost"] - fixed_cost) / df["Quantity"].replace(0, np.nan)).round(0)  # Avoid division by zero

# Compute Marginal Cost (MC) as change in TC
df["MC"] = df["Total Cost"].diff().fillna(0).round(0)

# Display the results
df

    Quantity  Total Cost     ATC    AVC     MC
0          0        2000     NaN    NaN    0.0
1          1        2380  2380.0  380.0  380.0
2          2        2720  1360.0  360.0  340.0
3          3        3025  1008.0  342.0  305.0
4          4        3300   825.0  325.0  275.0
5          5        3550   710.0  310.0  250.0
6          6        3780   630.0  297.0  230.0
7          7        3995   571.0  285.0  215.0
8          8        4200   525.0  275.0  205.0
9          9        4400   489.0  267.0  200.0
10        10        4605   460.0  260.0  205.0
11        11        4820   438.0  256.0  215.0
12        12        5050   421.0  254.0  230.0
13        13        5300   408.0  254.0  250.0
14        14        5575   398.0  255.0  275.0
15        15        5880   392.0  259.0  305.0
16        16        6220   389.0  264.0  340.0
17        17        6600   388.0  271.0  380.0
18        18        7025   390.0  279.0  425.0
19        19        7500   395.0  289.0  475.0
20        20        8030   402.0  302.0  530.0
21        21        8620   410.0  315.0  590.0
22        22        9275   422.0  331.0  655.0
23        23       10000   435.0  348.0  725.0
24        24       10800   450.0  367.0  800.0